.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout_left{
    width: 75%;
}

.checkout_title{
    padding-left: 20px;
    padding-bottom: 15px;
    width: 90%;
    border-bottom: 2px solid lightgrey;
}
.checkout_empty{
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100px;
    padding: 50px;

    background-color: white;
}

.checkout_empty > h2{
    margin-bottom: 20px;
}